.container{
    padding: 8rem 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.title{
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: #486A6F;
}
.items{
    display: flex;
    margin-top: 80px;
    justify-content: center;
    gap: 20px;
}